<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragmentos :: head}"></head>

<body class="bg-light">
<div th:replace="~{/fragmentos :: menu}"></div>


	<form id="formulario" th:object="${profissional}"  th:action="@{/profissional/{id}/atualizar (id = ${profissional.id})}" method="POST" class=" row g-3">
	<h3 class="text-primary" >Editar Profissional</h3>

		<div class="col-md-6">
			<label for="inputNome" class="form-label">Nome</label> 
			<input type="text" required name="nome" class="form-control" th:field="*{nome}" id="inputNome">
		</div>
		<div class="col-md-6">
			<label for="inputCpf" class="form-label">CPF</label> 
			<input type="number" required name="cpf" class="form-control" th:field="*{cpf}" id="inputCpf">
		</div>
		<div class="col-md-6">
			<label for="inputFuncao" class="form-label">Função:</label> 
			<input type="text" required name="funcao" class="form-control" th:field="*{funcao}" id="inputFuncao">
		</div>
		
	<div class="col-md-6">
		<label for="selectAtivo" class="form-label">Ativo:</label> 
		<select name="ativo" th:field="*{ativo}" id="selectAtivo" class="form-control">
				<option value="Sim" >Sim </option>
				<option value="Não">Não </option>
			
		</select>
	</div>	

			
		<div class="col-md-4 caixa-botoes ">
			<div class=" d-flex gap-2">
				<button  type="submit" class="botao btn-lg btn-success">Atualizar</button>
				<a type="button" th:href="@{/profissional/{id}/excluir (id = ${profissional.id})}" class="botao btn btn-lg btn-danger">Excluir</a>
				<a type="button" href="/profissional/lista" class="botao  btn btn-lg btn-light border ">Voltar</a>
			</div>
		</div>
	</form>

</body>

<style type="text/css">



#formulario {
	width: 60%;
	margin: 5% 0 0 20%;
	background-color: white;
	border-radius: 0.5rem;
	padding: 1rem;
	height: 28rem;
	padding-bottom: 2rem;
}




</style>

</html>