<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragmentos :: head}"></head>

<body class="bg-light">

<div th:replace="~{/fragmentos :: menu}"></div>

<div class="table-responsive">
	<h3 class="tituloProduto text-primary">Responsáveis</h3>
	<table class="table table-bordered   bg-light w-50 "> 
		<thead>
			<tr>
				<th class="linhaTabelaId text-primary text-center" >Id</th>
				<th class="linhaTabelaNome text-primary" >Nome</th>
				<th class="linhaTabelaDescricao text-primary" >Telefone</th>
				<th class=" linhaTabelaIcon"><a class="btn btn-primary btn-sm " href="/responsavel/novo" role="button" >Novo</a></th>	
			</tr>
		</thead>
			<tbody>
				<tr th:each="responsavel : ${responsavel}">
				<td class="text-center" th:text="${responsavel.getId()}"> </td>
					<td  th:text="${responsavel.getNome()}"> </td>
					<td  th:text="${responsavel.getTelefone()}"> </td>
					<td class="linhaTabelaIcon d-flex  ">
						<a class="btn btn-primary me-2 btn-sm" th:href="@{/responsavel/{id}/editar (id = ${responsavel.getId})}" role="button" >Editar</a>
						<a class="btn btn-outline-primary " th:href="@{/responsavel/{id} (id = ${responsavel.id})}"  role="button" > 👁‍🗨</a>
					</td>
					
				</tr>
			</tbody>
	</table>
</div>
</body>


<style type="text/css">

.btn-dark{

margin-left: 30%

}

.linhaTabelaId{
width:5rem;
}

.linhaTabelaIcon{

text-align: center;
width: 8rem;

}

.table{

margin:0% 0% 0% 25%;
}

#titulo {
	font-size: 30px;
	font-family: sans-serif;
	text-decoration: none;
	font-weight: 800;
}

.tituloProduto{
font-size:30px;
font-family:sans-serif;
text-decoration:none;
font-weight: 800;
margin:5% 0 0 25%;


}

</style>


</html>