<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragmentos :: head}"></head>

<body class="bg-light">
<div th:replace="~{/fragmentos :: menu}"></div>

<form id="formulario" th:object="${atendimento}"  action="/atendimento/salvar" method="POST" class=" row g-3">
		<h3 class="text-primary" >Lançar Atendimento</h3>

		
		<div class="col-md-6">
			<label for="selectAnimalAtendimento" class="form-label">Animal:</label> 
				<select name="animalAtendimento" th:field="*{animalAtendimento}" id="selectAnimalAtendimento" class="form-control">
					<option value="" selected>--Selecionar--</option>
					<option th:each="list : ${listAnimal}"
							th:value="${list.nome}"
							th:text="${list.nome}"
							th:name="animalAtendimento"
							th:field="*{animalAtendimento}">
					</option>
			</select>
		</div>
		<div class="col-md-6">
			<label for="selectAnimal" class="form-label">Profissional:</label> 
				<select name="profissional" th:field="*{profissional}" id="selectProfissional" class="form-control">
					<option value="" selected>--Selecionar--</option>
					<option th:each="list : ${listProfissional}"
							th:value="${list.nome}"
							th:text="${list.nome}"
							th:name="profissional"
							th:field="*{profissional}">
					</option>
			</select>
		</div>
		<div class="col-md-6">
			<label for="selectAnimal" class="form-label">Vacina:</label> 
				<select name="vacina" th:field="*{vacina}" id="selectVacina" class="form-control">
					<option value="" selected>--Selecionar--</option>
					<option th:each="list : ${listVacina}"
							th:value="${list.nome}"
							th:text="${list.nome}"
							th:name="vacina"
							th:field="*{vacina}">
					</option>
			</select>
		</div>

		
		<div class="col-md-6">
			<label for="inputDataHora" class="form-label">Data e Hora:</label> 
			<input type="datetime-local" required name="dataHora" class="form-control" th:field="*{dataHora}" id="inputDataHora">
		</div>


			
		<div class="col-md-4 caixa-botoes">
		<div class="col-md-4 ">
			<label for="descricao" class="form-label">Descrição</label>
				<div class=" d-flex gap-2">
					<textarea class="form-control" name="descricao" th:field="*{descricao}" id="descricao"></textarea>
				</div>
		</div>
		
			<div class=" d-flex gap-2 mt-3">
				<button  type="submit" class="botao btn-lg btn-success">Salvar</button>
			<a type="button" th:href="@{/atendimento/{id}/excluir (id = ${atendimento.id})}"  class="botao btn btn-lg btn-danger border ">Excluir</a>
				<a type="button" href="/atendimento/lista" class="botao  btn btn-lg btn-light border ">Voltar</a>
			</div>
		</div>
	</form>



</body>

<style type="text/css">

#descricao {
	max-height: 4rem;
	min-height: 4rem;
	max-width: 25rem;
	min-width: 25rem;
}

#formulario {
	width: 60%;
	margin: 5% 0 0 20%;
	background-color: white;
	border-radius: 0.5rem;
	padding: 1rem;
	height: 33rem;
	padding-bottom: 2rem;
}



</style>

</html>